html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
        margin-left: auto;
    padding: 0 0 60px;
    margin-left: 230px;
}

.wrap > .container {
    padding: 70px 15px 20px;
	width: 90%;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.skin-black .main-header .logo{
	color: #fff !important;
	background-color: #000 !important;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.skin-black .main-header .navbar {
	background-color: #000 !important;
}

.skin-black .main-header .navbar > .sidebar-toggle {
    color: #fff !important;
    border-right: 1px solid #fff !important;
}

.skin-black .main-header .navbar .nav > li > a {
	color: #fff !important;
}

.skin-black .main-header .navbar .nav > li > a:hover {
	background-color: #fff !important;
	color: #000 !important;
}

.skin-black .main-header li.user-header {
    background-color: #000 !important;
}

.skin-black .wrapper, .skin-black .main-sidebar, .skin-black .left-side {
    background-color: #000 !important;
}

.skin-black .sidebar a {
    color: #fff !important;
}

.skin-black .sidebar a:hover {
    background-color: #dedede !important;
    color: #5f5f5f !important;
}

.skin-black .sidebar-menu > li.header {
    color: #fff !important;
    background: #5f5f5f !important;
}

.skin-black .sidebar-form input[type="text"], .skin-black .sidebar-form .btn {
    background-color: #dedede;
}

a {
	color: #c57d00 !important;
}

a:hover {
	color: #ffa200 !important;
}

.btn-primary:hover .glyphicon-plus-sign, .btn-primary:hover .glyphicon-minus-sign {
	color: #c57d00;
}

.btn, .btn-primary, .btn-default, .btn-app {
	color: #777777 !important;
	background-color: #f4f4f4 !important;
	border-color: #ddd !important;
}

.btn:hover, .btn-primary:hover, .btn-default:hover, .btn-app:hover {
	color: #c57d00 !important;
	border-color: #c57d00 !important;
}

#flat-guests, #flat-rooms, #flat-beds, #flat-bathrooms, #booking-guests {
	text-align: center;
}

.box, .box.box-primary {
    border-top-color: #c57d00 !important;
    background: #f9f9f9 !important;
}

.image-flat-back {
	height: 220px !important;
}

.callout.callout-info {
    background-color: #4b4b4b !important;
    border-color: #c57d00;
}

.thumbnail {
	border-color: #c57d00 !important; 
}

.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #c57d00;
}

.booking_table {
	width: 100%;
}

.booking_table th{
	text-align: center;
	padding-bottom: 10px;
}

.booking_table td {
	text-align: center;
	padding-top: 10px;
}

.alert-error {
	background-color: #c57d00 !important;
	border-color: #777777 !important;
}

.year_chart {
	text-align: center;
	font-size: 18px;
	color: #c57d00;
}

.icon-flag {
	width: 35px;
	height: 30px;
}

.icon-flag:hover {
	background-color: #000;
}

.user-panel > .flag{
	position: absolute;
	left: 150px;
	top: 30px;
}